@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-eden-cream text-eden-black font-sans;
  }
  
  /* Hacemos que los títulos usen la fuente elegante */
  h1, h2, h3, .font-serif-eden {
    @apply font-serif tracking-tight;
  }
  
  ::selection {
    @apply bg-eden-black text-eden-white;
  }
}

@layer utilities {
  .fade-in-up {
    animation: fadeInUp 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
  
  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
}